body{ 
   width:830px;
   height:775px;
   margin-left:auto;
   margin-right: auto;
   border:1px solid black;
   line-height:30px;
 }
 .image{
    margin:10px;
    border-radius: 50%;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.9);
 }
 .side_bar{
    background-color:#E5E5CB;
    color:black;
    width:250px;
    height:775px;
 }
 td{
   color:black;
 }
 .main{
    position: relative;
    left:270px;
    bottom: 780px;
    color: black;
 }
 .line{
    color:lightgray;
 }
 .table2, .tr2, .th2{
    border: 2px solid black;
    color:black;
 }
 .para{
    width:550px;
 }
 a:hover{color: blue;}